body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  background-color: #ffe6d1;
  color: #483e30;
  margin: 100px 20px;
}
container {
  display: flex;
  justify-content: center;
  align-items: column;
}
content {
  max-width: 600px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
}

a {
  color: #483e30;
  text-decoration: none;
}

a:visited {
  color: #483e30;
}